* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-title-border-color: #4a1f63;
  --card-color-primary: #be8cff;
  --card-bg-color: #221a25;
  --card-color-info: #c2c2cc;
  --card-color-winner: #6da544;
  --card-color-loser: #ad1519;
  --card-color-draw: #338af3;
  --bg: url(./assets/bg-purple.svg);
}

ul {
  list-style: none;
}

body {
  background: var(--card-bg-color) var(--bg) no-repeat center top/contain;
}

body * {
  font-family: "Roboto", sans-serif;
}

#app {
  width: fit-content;
  margin: auto;
  padding-top: 52px;
}

header {
  margin-bottom: 63px;
  text-align: center;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
}

.card {
  padding: 32px 23px;
  text-align: center;

  background: var(--card-bg-color);
  border-bottom: 2px solid var(--card-color-primary);
  border-radius: 6px;
}

.card h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  border: 1px solid var(--card-title-border-color);
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;

  color: var(--card-color-primary);
}

.card h2 span {
  color: var(--card-color-info);
  font-size: 14px;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.1);
}

.card h2,
.card ul li strong,
.card ul li img {
  transition: transform 0.3s;
}

hr {
  border-top: 1px solid #bbb;
  border-radius: 16px;
  border-color: #323238;
}

.card {
  opacity: 0;
  animation: appear 0.2s forwards;
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 700px) {
  #cards {
    max-width: 1668px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.gameCard {
  width: 335px;
  height: 80px;
  border-radius: 6px;
  overflow: hidden;
}

div.gameCardContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

div.gameCardBackground {
  position: absolute;
  width: 335px;
  height: 80px;
  mix-blend-mode: normal;
  filter: blur(0.875px);
  border-radius: 6px;
  z-index: -100;
  background-blend-mode: normal;
}

img.stadium {
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 100) 50%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 100) 50%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  width: 335px;
  height: 80px;
  left: 0px;
  top: 0px;
  mix-blend-mode: normal;
  opacity: 0.48;
  isolation: isolate;
}

div.team {
  display: flex;
}

div.firstTeam {
  display: flex;
  order: 1;
  z-index: 1;
}

div.secondTeam {
  display: flex;
  order: 3;
  z-index: 3;
}

div.teamFlag {
  position: relative;
  width: 80px;
  height: 80px;
  flex: none;
  flex-grow: 0;
  z-index: 1;
}

.leftFlag {
  -webkit-mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.rightFlag {
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.firstTeamFlagMask {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: linear-gradient(
    90deg,
    var(--card-color-info) 35%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: blur(1px);
  border-radius: 0px;
}

div.pointsFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 31.67px;
  height: 80px;
  z-index: 2;
}

strong.teamPoints {
  width: 14px;
  height: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 125%;
  color: var(--card-color-info);
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

div.matchInfoFrame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  gap: 4px;
  width: 111.67px;
  height: 80px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 1;
  z-index: 2;
}
div.matchHourFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 111.67px;
  height: 24px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
strong.matchHour {
  width: 84px;
  height: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 75%;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--card-color-info);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.stadiumFrame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 111.67px;
  height: 16px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
strong.stadiumName {
  width: 111px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 0.58em;
  line-height: 105%;
  display: flex;
  align-items: center;
  text-align: center;
  font-variant: small-caps;
  text-transform: uppercase;
  justify-content: center;
  color: var(--card-color-info);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
  flex: none;
  order: 0;
  flex-grow: 0;
}

div.teamFlag:hover > strong.teamName {
  opacity: 100%;
}

.teamName {
  opacity: 0%;
  position: absolute;
  width: 80px;
  left: calc(50% - 80px / 2);
  bottom: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 0.7em;
  text-align: center;
  text-transform: uppercase;
  color: var(--card-color-info);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.85);
}

.teamNameLeft {
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.teamNameRight {
  background: linear-gradient(
    315deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
